/* GENERAL */
body{
  font-family: Georgia;
  font-size: 10px

  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}


text {
  font-family: Georgia;
  fill: #2b2929;
  font-size: 80%;
  font-weight: bold;
}


/* SVGs & CO - RESPONSIVE*/ 

/* Large */
#svg_top_container {
  display: inline-block;
  position: relative;
  width: 100%;
  vertical-align: top;
  overflow: hidden;
}

#svg_top {
  padding-top:1%;
  font-size: 20px;
  overflow: hidden;
}

#svg_map_container {
  display: inline-block;
  position: relative;
  width: 50%;
  vertical-align: top;
  overflow: hidden;
  padding-left:4%;
}

#svg_graph_container {
  display: inline-block;
  position: relative;
  width: 50%;
  vertical-align: top;
  overflow: hidden;
  padding-right:4%;
}

#svg_graph_container_mini {
  display: inline-block;
  position: relative;
  width: 25%;
  vertical-align: top;
  overflow: hidden;
  margin-top:1%;
}

#svg_middle_container {
  display: inline-block;
  position: relative;
  width: 100%;
  vertical-align: top;
  overflow: hidden;

}

#svg_middle {
  margin-top:2%;
}

#svg_bottom_container {
  display: inline-block;
  position: relative;
  width: 100%;
  vertical-align: top;
  overflow: hidden;
}

#svg_bottom {
  font-size: 15px;
  overflow: hidden;
}

.btn-group-xss > .btn, .btn-xss {
  padding: 6px 20px;
  font-size: 10px;
  line-height: .75;
  border-radius: .2rem;
}

.btn-group-xs > .btn, .btn-xs {
  padding: 6px 20px;
  font-size: 10px;
  line-height: .75;
  border-radius: .2rem;
}

.brush {
    stroke: #ffc107;
    stroke-opacity:0.5;
    stroke-width: 5;
}


/* Small */
@media only screen and (max-width: 800px) {

  #svg_top_container {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: top;
    margin-bottom:2%;
    overflow: visible;
  
  }
  
  #svg_top {
    padding-top:1%;
    font-size: 40px;
    overflow: visible;
  }
  
  #svg_map_container {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: top;
    overflow: hidden;
    padding-right:4%;
    padding-left:4%;
  }
  
  #svg_graph_container {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: top;
    overflow: hidden;
    padding-right:4%;
    padding-left:4%;
  }
  
  #svg_graph_container_mini {
    display: inline-block;
    position: relative;
    width: 50%;
    vertical-align: top;
    overflow: hidden;
    margin-top:1%;
  }
  
  #svg_middle_container {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: top;
    overflow: hidden;
  
  }
  
  #svg_middle {
    margin-top:2%;
  }
  
  #svg_bottom_container {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: top;
    overflow: hidden;
  }

  #svg_bottom {
    font-size: 30px;
    overflow: hidden;
  }
  
  .btn-group-xss > .btn, .btn-xss {
    padding: 6px 20px;
    font-size: 20px;
    line-height: .75;
    border-radius: .2rem;
  }
  
  .btn-group-xs > .btn, .btn-xs {
    padding: 6px 20px;
    font-size: 10px;
    line-height: .75;
    border-radius: .2rem;
  }

  .brush {
    stroke: #ffc107;
    stroke-opacity:0.5;
    stroke-width: 10;
  }

  
}



/* BUTTONS & CARDS */
.card-body {
  padding: 0.3rem;
}

/* LINES & LABELS */

/* Mini Labels */
.serie_label {
  color: : #2b2929;
  font-weight: normal;
}

.serie_labelactive {
  color: #0e5096;
  font-weight: bold;
}

/* Lines  */
.line {
  fill: none;
  stroke-width: 0.6;
  stroke: #0b0b0b;
}

.ghost-line {
  fill:none;
  stroke: darkgrey;
  opacity: 0;
  stroke-width: 5;
}

.ghost-lineactive {
  fill:none;
  stroke: #0e5096;
  opacity: 1;
  stroke-width: 2;
}
   

/* MAP */

path {
    stroke-linejoin: round;
    stroke-miterlimit: 2;
    stroke-linecap: round;
}

.outline {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
}

.feature {
  fill: #ccc;
}

.mesh {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
  stroke-linejoin: round;
}

path {
  stroke: #fff;
  stroke-width: .5px;
}

.county-hover {
  fill:#0e5096;
}

.county-hover-fixed {
  fill:#0e5096;
}

/* GRAPH */

.axis line {
  stroke: #706f6f;
  stroke-width: 1;
  shape-rendering: optimizeSpeed;
}

.axis text {
  font-family: Georgia;
  fill: #2b2929;
  font-size: 80%;
}

.axis path {
  stroke: #706f6f;
  stroke-width: 0.7;
  shape-rendering: optimizeSpeed;
  fill: none;
}



.focus  {
  opacity:0.2;
}








